*{
    
    box-sizing: border-box;
    font-family: sans-serif;


}


body{
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.wrap{
    width: 400px;
    background-color: rgb(216, 241, 241);
    height: 500px;
    box-shadow: 0 10px 15px;
    border-radius: 5px;
    margin-left: 30%;
    align-items: center;
   
    justify-content: space-evenly;
    padding: 15px;
    font-size: 20px;
}




h1{
    text-align: center;
}

.btn{
    display: inline;
    
    
  
    
}
 .tab{
    width: 100px;
    margin-right: -140px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    height: 50px;
    font-size: 20px;
    margin-left: 30%;
 }


 input{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    height: 55px;
    outline: 1px solid rgb(94, 64, 43);
 }


 .click{
    width: 200px;
    margin-right: -40px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    height: 50px;
    margin-top: 35px;
    font-size: 20px;
    background-color: rgb(107, 107, 228);
    margin-left: 30%;
   
   
 }

 input::placeholder{
    font-size: 20px;
 }


 .txt a{
    text-decoration: none;
 }

 .txt a:hover{
    color:rgb(100, 100, 100);
 }




